
body{
    justify-content: space-around;
	background-color: #FDAFB1;
  text-align: center;
}

header, footer{
    display: flex;
    background-color: #98D1C7;
    flex-direction: row;
    height: 10vh;
    margin: 5px;
    float: center;
}

main{
	display: flex;
    flex-direction: row;
}

aside{
	background-color: #62B7B6;
    height:70vh;
    width:40vh;
    margin: 5px;
  	text-align: center;
}

article{
	background-color: #FA7A7B;
    flex: 2;
    margin: 5px;
  	text-align: center;
}


.container{
    justify-content: space-around;
	display: flex;
	flex-direction: row;
}

.images{
	background-color: #D6D5D5;

	padding: 0px 10px;
	width: 140px;
	height: 140px;
}